* {
    font-family: Helvetica, Arial, sans-serif;
    background-color: black;
  }
   
   
  h1 {
    color: #ce3711;
  }
   
   
  p, 
  li {
    font-size: 18px;
      color: #ce3711
  }
   
   
  a {
    text-decoration: none;
  }
